NEXT_PUBLIC_SUPABASE_URL=https://rrhaklgvpjsdrpvylrcl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyaGFrbGd2cGpzZHJwdnlscmNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxNjY0NjMsImV4cCI6MjA5Nzc0MjQ2M30.HhMhnttPoSz3VgzBoLDAStUMIHGXKbfuaGU5ZKaWi40
SUPABASE_SERVICE_ROLE_KEY=sb_secret_2A9tglxIITklL7okfz6NUA_BRjZenhp
OPENAI_API_KEY=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
